In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

In [40]:
train_file='D:\\My Personal Documents\\Learnings\\Data Science\\Data Sets\\Genpact\\train.csv'
test_file='D:\\My Personal Documents\\Learnings\\Data Science\\Data Sets\\Genpact\\test.csv'
fulfilment_center='D:\\My Personal Documents\\Learnings\\Data Science\\Data Sets\\Genpact\\fulfilment_center_info.csv'
meal_info='D:\\My Personal Documents\\Learnings\\Data Science\\Data Sets\\Genpact\\meal_info.csv'

In [41]:
train_df= pd.read_csv(train_file)
test_df= pd.read_csv(test_file)
fulfilment_center_df= pd.read_csv(fulfilment_center)
meal_info_df= pd.read_csv(meal_info)

In [42]:
print(train_df.shape)
print(test_df.shape)
print(fulfilment_center_df.shape)
print(meal_info_df.shape)

(456548, 9)
(32573, 8)
(77, 5)
(51, 3)

In [43]:
train_test_df = train_df.append(test_df)

C:\Amrendra\Anaconda\lib\site-packages\pandas\core\frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

In [44]:
train_test_df.shape

(489121, 9)

In [45]:
train_test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 489121 entries, 0 to 32572
Data columns (total 9 columns):
base_price               489121 non-null float64
center_id                489121 non-null int64
checkout_price           489121 non-null float64
emailer_for_promotion    489121 non-null int64
homepage_featured        489121 non-null int64
id                       489121 non-null int64
meal_id                  489121 non-null int64
num_orders               456548 non-null float64
week                     489121 non-null int64
dtypes: float64(3), int64(6)
memory usage: 37.3 MB

In [46]:
train_test_fulfilment_df=pd.merge(train_test_df,fulfilment_center_df, how='inner', on='center_id')

In [47]:
train_test_fulfil_meal_df=pd.merge(train_test_fulfilment_df,meal_info_df,how='inner', on='meal_id')

In [48]:
train_test_fulfil_meal_df.shape

(489121, 15)

In [49]:
train_test_fulfil_meal_df.head()

,base_price,center_id,checkout_price,emailer_for_promotion,homepage_featured,id,meal_id,num_orders,week,city_code,region_code,center_type,op_area,category,cuisine
0,152.29,55,136.83,0,0,1379560,1885,177.0,1,647,56,TYPE_C,2.0,Beverages,Thai
1,152.29,55,135.83,0,0,1018704,1885,323.0,2,647,56,TYPE_C,2.0,Beverages,Thai
2,133.92,55,132.92,0,0,1196273,1885,96.0,3,647,56,TYPE_C,2.0,Beverages,Thai
3,134.86,55,135.86,0,0,1116527,1885,163.0,4,647,56,TYPE_C,2.0,Beverages,Thai
4,147.50,55,146.50,0,0,1343872,1885,215.0,5,647,56,TYPE_C,2.0,Beverages,Thai

In [50]:
train_test_cleaned=train_test_fulfil_meal_df.drop(labels=['city_code','center_id','meal_id','region_code'], axis=1)

In [52]:
train_test_cleaned.isna().sum()

base_price                   0
checkout_price               0
emailer_for_promotion        0
homepage_featured            0
id                           0
num_orders               32573
week                         0
center_type                  0
op_area                      0
category                     0
cuisine                      0
dtype: int64

In [53]:
train_test_transformed=pd.get_dummies(train_test_cleaned, columns=['center_type','category','cuisine'])

In [54]:
train_test_transformed.head()

,base_price,checkout_price,emailer_for_promotion,homepage_featured,id,num_orders,week,op_area,center_type_TYPE_A,center_type_TYPE_B,...,category_Rice Bowl,category_Salad,category_Sandwich,category_Seafood,category_Soup,category_Starters,cuisine_Continental,cuisine_Indian,cuisine_Italian,cuisine_Thai
0,152.29,136.83,0,0,1379560,177.0,1,2.0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,152.29,135.83,0,0,1018704,323.0,2,2.0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,133.92,132.92,0,0,1196273,96.0,3,2.0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,134.86,135.86,0,0,1116527,163.0,4,2.0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,147.50,146.50,0,0,1343872,215.0,5,2.0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [55]:
train=train_test_transformed[train_test_transformed.week<146]

In [56]:
test=train_test_transformed[train_test_transformed.week>=146]

In [60]:
test.drop(labels=['num_orders'],axis=1,inplace=True)

C:\Amrendra\Anaconda\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [61]:
print(train.shape)
print(test.shape)

(456548, 29)
(32573, 28)

In [67]:
train_df=train[train.week<=100]
val_df= train[train.week>100]

In [73]:
train_y=train_df['num_orders'].values
train_x=train_df.drop('num_orders',axis=1).values

In [75]:
val_y=val_df['num_orders'].values
val_x=val_df.drop('num_orders',axis=1).values

In [76]:
train_x = train_x.reshape((train_x.shape[0], 1, train_x.shape[1]))
val_x = val_x.reshape((val_x.shape[0], 1, val_x.shape[1]))
print(train_x.shape, train_y.shape, val_x.shape, val_y.shape)

(309297, 1, 28) (309297,) (147251, 1, 28) (147251,)

In [77]:

# design network
model = Sequential()
model.add(LSTM(50, input_shape=(train_x.shape[1], val_x.shape[2])))
model.add(Dense(1))
model.compile(loss='mae', optimizer='adam')
# fit network
history = model.fit(train_X, train_y, epochs=50, batch_size=72, validation_data=(val_x, val_y), verbose=2, shuffle=False)
# plot history
pyplot.plot(history.history['loss'], label='train')
pyplot.plot(history.history['val_loss'], label='test')
pyplot.legend()
pyplot.show()

NameError: name 'Sequential' is not defined