In [1]:
words = ['cat','window','defenstrate']
for w in words:
    print(w,len(w))

cat 3
window 6
defenstrate 11

In [5]:
for w in words[:]:
    if len(w)>6:
        words.insert(0,w)

In [6]:
words

['defenstrate', 'cat', 'window', 'defenstrate']

In [5]:
x=256
total=0
while x>0:
    if total>500:
         break
    total+=x
    x=x//2
print(total)
print(x)

504
4

In [6]:
for n in range(2,10):
    for x in range(2,n):
        if n%x==0:
            print(n, 'equals', x, '*', n//x)
            break
        else:
            print(n, 'is a prime number')

3 is a prime number
4 equals 2 * 2
5 is a prime number
5 is a prime number
5 is a prime number
6 equals 2 * 3
7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number
7 is a prime number
8 equals 2 * 4
9 is a prime number
9 equals 3 * 3

In [9]:
for num in range(2,10):
    if num%2 == 0:
        print("Found an even number ", num)
        continue
    print("Found a number",num)

Found an even number  2
Found a number 3
Found an even number  4
Found a number 5
Found an even number  6
Found a number 7
Found an even number  8
Found a number 9

In [11]:
if x < 0:
    print('Negative!')
elif x == 0:
    pass
else:
    print('Positive!')

Positive!

In [12]:
def f(x,y,z):
    pass

In [16]:
for i in range(5):
    print(i)

0
1
2
3
4

In [18]:
a = ['Marry', 'had','a','little','lamb']
for i in range(len(a)):
    print(i, a[i])

0 Marry
1 had
2 a
3 little
4 lamb

In [19]:
seq = [1,2,3,4]
for i in range(len(seq)):
    val=seq[i]

In [21]:
print(val)

4

In [28]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
sum = 0
for i in range(10000):
    if i%3==0 or i%5==0:
        sum+=i

In [32]:
sum

23331668

### Handles all types of errors

In [33]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [36]:
attempt_float('4')

4.0

In [37]:
float(1,2)

TypeError: float() takes at most 1 argument (2 given)

### Handles only type errors

In [39]:
def attempt_float(x):
    try:
        return float(x)
    except TypeError:
        return x

In [41]:
attempt_float((1,2))

(1, 2)

### Handles only value errors

In [42]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

### Handles both type and value errors

In [43]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [44]:
f=open(path,'w')
try:
    write_to_file(f)
finally:
    f.close()

NameError: name 'path' is not defined

In [46]:
tup = (1,2,3)

In [48]:
tup

(1, 2, 3)

In [49]:
tup1= ( tup, ('abc','xyz'))

In [51]:
tup1

((1, 2, 3), ('abc', 'xyz'))

In [53]:
tup[1]

2

In [54]:
tup1[1]

('abc', 'xyz')

In [56]:
tup1[1][1]

'xyz'

### tuple is a function used to convert into tuple from other data types

In [60]:
tuple([1,2,'3'])

(1, 2, '3')

In [61]:
tuple('string')

('s', 't', 'r', 'i', 'n', 'g')

In [63]:
tup= tuple(['foo',[1,2],True])

In [64]:
tup[2]=False

TypeError: 'tuple' object does not support item assignment

In [65]:
tup[1].append(3)

In [68]:
tup.append('xyz')

AttributeError: 'tuple' object has no attribute 'append'

In [71]:
tup*4

('foo',
 [1, 2, 3],
 True,
 'foo',
 [1, 2, 3],
 True,
 'foo',
 [1, 2, 3],
 True,
 'foo',
 [1, 2, 3],
 True)

In [75]:
tup=(1,2,3)
a,b,c=tup
print(a,b,c)

1 2 3

### Swapping variables value

In [76]:
a=2
b=3
print(a,b)
b,a=a,b
print(a,b)

2 3
3 2

In [78]:
a=(1,2,2,3,4,5)
a.count(2)

2

In [94]:
a_list=[2,3,7,None]
tup = ('foo','bar','baz')
b_list=list(tup)
b_list

['foo', 'bar', 'baz']

In [95]:
b_list[1]='peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [82]:
b_list.append('drew') # Add element at the end

In [83]:
b_list

['foo', 'peekaboo', 'baz', 'drew', 'drew']

In [84]:
b_list.insert(1,'red') # Insert element at the position specified
b_list

['foo', 'red', 'peekaboo', 'baz', 'drew', 'drew']

In [86]:
b_list.pop(1) # pop display the element mentioned in the index and removes from the list

'peekaboo'

In [96]:
b_list

['foo', 'peekaboo', 'baz']

In [98]:
b_list.pop()

'peekaboo'

In [99]:
b_list

['foo']

In [103]:
a=[3,2,4,7,1]
a.sort()
a

[1, 2, 3, 4, 7]

In [105]:
b=['ere','fddsdad','gdds']
b.sort(key=len) # sorting based on length of items in the list
b

['ere', 'gdds', 'fddsdad']

In [106]:
import bisect
c=[1,2,2,2,3,4,7]
bisect.bisect(c,2) # gives the position in the list where an item should be inserted in order to maintain sort order

4

In [107]:
bisect.insort(c,6) #

In [108]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [110]:
d=[2,3,4,2,1]
sorted(d) # Sort the list keeping the duplicates

[1, 2, 2, 3, 4]

In [111]:
sorted(set(d)) # sort the list removing duplicate

[1, 2, 3, 4]

In [113]:
seq1=['abc','def','ghi']
seq2=['xyz','stu','vwz']
zip(seq1,seq2)

### Disctinary

In [1]:
tel={'jack':4098,'sape':4139}
tel['guido']=4127

In [2]:
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [3]:
tel['jack']

4098

In [4]:
del tel['sape']

In [5]:
tel['irv']=4127

In [6]:
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [7]:
list(tel.keys())

['jack', 'guido', 'irv']

In [9]:
sorted(list(tel.keys()))

['guido', 'irv', 'jack']

In [11]:
sorted(list(tel.values()))

[4098, 4127, 4127]

In [12]:
'guido' in tel

True

In [13]:
dict([('jack',4098),('sape',4139)])

{'jack': 4098, 'sape': 4139}

In [14]:
{x:x**2 for x in (2,4,6)}

{2: 4, 4: 16, 6: 36}

In [15]:
dict(sape=4139,guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [16]:
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [19]:
for i,j in tel.items():
    print(i,j)

jack 4098
guido 4127
irv 4127

In [20]:
import math
raw_data=[56.1,float('NaN'),51.7,52.5,float('NaN'),47.8]
filtered_data=[]
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

In [21]:
filtered_data

[56.1, 51.7, 52.5, 47.8]